* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the º */
header {
  background-color: #f1f1f1;
  padding: 0px;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.header-section1{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header-section2{
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.header-nav-section{
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 10px;
  /*height: 300px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

/* Middle column */
.column.middle {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

main{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.main-container{
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.aside-left-main-container{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.aside-right-main-container{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.sign-up-aside-main-container{
  text-align: center;
  margin: 10px;
}

.main-container-under-add-section{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.main-posts-column{
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.aside-right-main-posts-column{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.main-posts-column-link-list li{
  display: inline;
}

.main-posts-column-link-list{
flex-shrink: 0;
}

.main-posts-column-link-list-container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: auto;
}

ul {
  list-style-type: none;
}

/* Style the footer */
footer {
  background-color: #f1f1f1;
  padding: 0px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .invis {
  	  	visibility: hidden;
  }
}